<section class="bg-zing-400 p-20 rounded-xl my-4">
    <h2 class="text-5xl fond-bold my-5">
        Projects
    </h2 >
    <p class="text-zing-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam velit voluptatibus, sed magni temporibus in assumenda ex odio cumque neque natus distinctio corrupti porro enim veniam obcaecati, commodi voluptas? Minima esse autem ab eligendi est corporis placeat nihil aut eaque?</p>
</section>