<header class="vg-zing-900 flex flex-col md:flex-row t p-20 gap-3 text-center md:text-left rounded-xl">
  <div>
    <h1 class="text-5xl font-bold pb-2 ">Protect Your Password</h1>
    <p my-4 text-2xl>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, iure.
    </p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400  ">Start Now</button>
  </div>
  <img src="images/FingerPrint.svg" alt="" class="w-80" />
</header>

