---
import Layout from "../Layouts/Layout.astro";
import Button from "../components/buttonSubscribe";
---

<Layout pageTitle="Pagina Inicial" pageDescription="Pagina poara ofrecer servicios de desarollo de software">

	<h1>Bienvenidos</h1>
	<Button  client:load/>

</Layout>




