<footer class="bg-zing-900 flex py-10 gap-4 mt-4">
  <div
    class="container mx-auto flex flex-col md:flex-row justify-evenly text-center md:text-left gap-4"
  >
    <div>
      <h4 class="fond-bold text-xl">site Map</h4>
      <a href="/"> Home</a>
      <a href="/about"> About</a>
      <a href="/pricing"> Pricing</a>
    </div>
    <div>
      <h4 class="fond-bold text-xl">Site Map</h4>
      <p>Lorem2</p>
      <p>Lorem2</p>
      <p>Lorem2</p>
    </div>
    <div>
      <h4 class="fond-bold text-xl">Site Map</h4>

      <a href="/"> Facebook</a>
      <a href="/about"> Instagram</a>
      <a href="/pricing"> Twitter</a>
      <a href="/pricing"> tik tok</a>
    </div>
  </div>
</footer>
