<footer>
    <div>
        <h4>
            site Map
        </h4>
        <a href="/"> Home </a>
        <a href="/about"> About </a>
        <a href="/pricing"> Pricing </a>

    </div>
    <div>
        <h4 class="fond-bold">Site Map </h4>
        <p>Lorem2</p>
        <p>Lorem2</p>
        <p>Lorem2</p>

    </div>
    <div>
        <h4>
            Social LInks    
        </h4>
        <a href="/"> Facebook </a>
        <a href="/about"> Instagram </a>
        <a href="/pricing"> Twitter </a>
        <a href="/pricing"> tik tok </a>

    </div>

</footer>